.thumbnail img{
    min-height: 100px;
    max-height: 110px;
}

.thumbnail .description{
    color: #7f7f7f;
}

.price{
    font-weight: bold;
    font-size: 16px;
}

form.register h4 { margin: 2em 0 0.5em; font-weight: bold; }
form.register label.role { padding: 16px; border: 1px solid #ddd; }
form.register label.role input[type="radio"] { margin-right: 8px; }

.container .spacer { width: 100%; margin-top: 2em; }
.application { width: 100%; max-width: 960px; box-sizing: border-box; padding: 0 60px; margin: 3em auto 2em; }
.application h4 { font-weight: bold; }
.application hr { height: 1px; border: none; background: #444; margin: 0 0 1em; }
.application p {}
.application a.more {}

.notification-types { display: flex; flex-flow: row wrap; justify-content: space-between; margin-bottom: 4em; }
.notification-types .checkbox-inline { padding-left: 40px; padding-top: 4px; height: 30px; }
.notification-types .checkbox-inline input[type=checkbox] { width: 30px; height: 30px; margin-left: -40px; margin-top: -4px; }
