<div class="row">
    <div class="col-md-6 col-md-offset-4">
        <h2>Post a Job Opening</h2>
        <p>$ 20 of the posting fee goes to pay for caregivers training in your community</p>
        ////Validation Errors for find caregivers form
        <form action="/job/create" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label for="title">Job Title</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="Enter Job Title" required>
            </div>

            <div class="form-group">
                <label for="description">Job Description</label>
                <textarea name="description" id="description" class="form-control" rows = "15" required>Enter Job Description Here</textarea>
            </div>
            <hr>

         <p><strong>Required Certifications</strong></p>
            <div class="form-group">

                {{#each requirements}}
                    <div class="form-group">
                        <div class="checkbox">
                            <label for="{{this}}">
                                <input type="checkbox" name="requirements" value="{{this}}"  > {{this}}
                            </label>
                        </div>
                    </div>
                {{/each}}

            </div>

            <div class="form-group">
                <label for="file_attachment">Attach A Flyer</label>
                <input type="file" id="file_attachment" name="file_attachment" class="form-control">
            </div>
            <!--<input type="hidden" name="" id="" value="-->
            <input type="hidden" name="_csrf" id="_csrf" value="{{csrfToken}}" >

            <button type="submit" class="btn btn-primary">Post Job</button>
        </form>
    </div>
</div>