<div class="spacer"></div>

{{# each postings}}

    <div class="row">

        {{!-- {{#each this}} --}}
        <div class="list-group application">
            <h4 class="list-group-item-heading">{{this.title}}</h4>
            <hr>
            <p><strong>Certifications://add a way to display few or all certifications</strong></p>
            <p class="list-group-item-text"><strong>Description:</strong>{{this.truncated_description}}</p>
            <a class="more" href="{{this._id}}">See more</a>
        </div>
        {{!-- {{/each}} --}}
    </div>


{{/each}}