<div class="row">
    <div class="col-md-6 col-md-offset-4">
        <h2>Apply for a Job</h2>
                ////Validation Errors for find caregivers form
        <form action="/application/create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="description">Resume</label>
                <textarea name="description" id="description" class="form-control" rows = "15">
                    Enter or Copy & Paste Resume/CV.  Here Include your availability/and when you are available to start.
                </textarea>
            </div>
            <hr>

            <p><strong>Your Certifications</strong></p>

            <div class="form-group">

                {{#each certifications}}
                    <div class="form-group">
                        <div class="checkbox">
                            <label for="{{this}}">
                                <input type="checkbox" name="certifications" value="{{this}}"  > {{this}}
                            </label>
                        </div>
                    </div>
                {{/each}}

            </div>

            <div class="form-group">
                <label for="attachment">Attach Resume</label>
                <input type="file" id="attachment" name="resume" class="form-control">
            </div>

            <div class="form-group">
                <label for="attachment">Attach Cover Letter</label>
                <input type="file" id="attachment" name="coverletter" class="form-control">
            </div>
            <input type="hidden" name="_csrf" id="_csrf" value="{{csrfToken}}" >

            <button type="submit" class="btn btn-primary">Post Resume</button>
        </form>
    </div>
</div>