<div class="row">
    <div class="col-md-6 col-md-offset-4">
        <h2>Apply for a Job</h2>
                ////Validation Errors for find caregivers form
        <form action="/application/create" method="post">
            <div class="form-group">
                <label for="description">Resume</label>
                <textarea name="description" id="description" class="form-control" rows = "15">
                    Enter or Copy & Paste Resume/CV Here
                    Include your availability/and when you can start
                </textarea>
            </div>
            <hr>

            <p><strong>Your Certifications</strong></p>

            <div class="form-group">
                <div class="checkbox">
                    <label for="CNA">
                        <input type="checkbox" value="NAC/CNA" name="certifications[]" > NAC/CNA
                    </label>
                </div>

                <div class="checkbox">
                    <label for ="HCA">
                        <input type="checkbox" value="hca" name="certifications[]">75 hour Training/Home Care Aide
                    </label>
                </div>

                <div class="checkbox">
                    <label for = "Core Basic Training">
                        <input type="checkbox" value="corebasic" name="certifications[]">Core Basic Training
                    </label>
                </div>

                <div class="checkbox">
                    <label for ="Safety and Orientation">
                        <input type="checkbox" value="mhealth" name="certifications[]">Safety and Orientation
                    </label>
                </div>

                <div class="checkbox">
                    <label for="Dementia">
                        <input type="checkbox" value="dementia" name="certifications[]">Dementia Certification
                    </label>
                </div>

                <div class="checkbox">
                    <label for ="Mental Health">
                        <input type="checkbox" value="mhealth" name="certifications[]">Mental Health Certification
                    </label>
                </div>

                <div class="checkbox">
                    <label for ="Nurse Delegation">
                        <input type="checkbox" value="delegation" name="certifications[]">Nurse Delegation
                    </label>
                </div>

                <div class="checkbox">
                    <label for ="Diabetes">
                        <input type="checkbox" value="diabetes" name="certifications[]">Nurse Delegation for Diabetes
                    </label>
                </div>

            </div>

            <div class="form-group">
                <label for="attachment">Attach A Resume</label>
                <input type="file" id="attachment" name="attachment" class="form-control">
            </div>
            <!--<input type="hidden" name="applicant" id="applicant" value="{{applicant}}">-->
            <input type="hidden" name="_csrf" id="_csrf" value="{{csrfToken}}" >

            <button type="submit" class="btn btn-primary">Post Resume</button>
        </form>
    </div>
</div>