<div class="row">
    <p>
        <strong>
            //the audience is employer. make a solid pitch --why?! why?! why?! why?! why?! must they use this service
            //
        </strong>

        Our focus is to connect employers, such as yourself, with qualified caregivers while at the same time
        protecting caregivers' contact information.  To that end, Excel CE requires employers to sign in/up in order to
        contact and view caregivers' qualifications all the while keeping the contact information of everyone involved
        private.  However, employers' job opening posts are public.
    </p>

    <p>
        Once you sign in, you can contact caregivers on a 1 -to- 1 basis or you can create a job post that reaches
        many caregivers at once.  In addition to email, Excel CE relies on text/SMS and phone call to notify caregivers
        of your job post and your attempt to contact them.  All users choose their notification's settings.
    </p>
    <p>
        In addition, you can purchase DSHS approved online courses on Excel CE that you can then share with caregivers
        to enable them meet your job opening certification requirements.  Your job posts also earn you credits that you
        can share with promising caregivers who have not met your job opening requirements or staff who need to keep
        their CEUs current.
    </p>

</div>

