<div class="row">
    <p>
        Our focus is to connect employers, such as yourself, with qualified caregivers while at the same time
        protecting caregivers' contact information.  To that end, you need to sign in/up in order to contact and view
        caregivers' qualifications.  You can contact caregivers and caregivers can respond to your job posts all the
        while keeping the contact information of everyone involved private.  However, your job opening ad posts will
        be public.
    </p>

    <p>
        Once you sign in, you can contact caregivers on a 1 -to- 1 basis or on a 1 -to- many basis by creating a job
        post that reaches many caregivers all at once.  In addition to email, caregivers will be notified of your job post
        or attempt to contact them through text/SMS and phone call. All users choose how they want to receive notifications.
    </p>
    <p>
        In addition, you can purchase DSHS approved online courses on Excel CE that you can then share with caregivers
        to enable them meet your job opening certification requirements.  Your job posts also earn you credits that you
        can share with promising candidates who have not met your job opening requirements or your staff who need to keep
        their CEUs current.
    </p>

</div>

