

<div class="spacer"></div>
<a href="../job/create" class="btn btn-danger pull-right" role="button">Post Job Opening</a>
{{# each applications}}

<div class="row">

    {{!-- {{#each this}} --}}
    <div class="list-group application">
        <h4 class="list-group-item-heading">{{this.provider.username}}</h4>
        <hr>
        <p><strong>Description:</strong></p>
        <p class="list-group-item-text">{{this.truncated_description}}</p>
        <a class="more" href="{{this._id}}">See more</a>
        <p><strong>Certifications:</strong></p>
        <ul>
            {{#each this.certifications}}
                <li>{{this}}</li>
            {{/each}}
        </ul>

    </div>
    {{!-- {{/each}} --}}
</div>


{{/each}}