<div class="container">

    <div class="page-header">
        <h1>Janis Lollel</h1>
        <p class="lead">


        </p>
    </div>

    <h3>Profile</h3>
    <hr>
    <p>
         Mauris dui ligula ac convallis quis. Lacinia at facilisi, dictum massa conubia porta, ' +
        'tempor amet mauris mi per ipsum, venenatis enim amet. Dolor imperdiet nulla platea, scelerisque morbi leo ut ' +
        'dolor mauris, vitae sodales egestas consequat ipsum, erat posuere vitae, diam fringilla vitae neque id. ' +
        'Eu integer convallis aptent aliquam adipiscing mauris, quam nulla in, nibh placerat augue eget erat. Eget ' +
        'nunc orci dis fermentum nibh, rutrum in donec. Et ut sed est, ligula morbi maecenas praesent erat neque risus. ' +
        'Id ridiculus sit elementum risus lorem sagittis, in lectus occaecati. In posuere tortor, massa vel nulla, ' +
        'elit turpis arcu dui.

    </p>
    <h3>Certifications</h3>
    <hr>
    <div class="row">
        <ul>
            <li>CNA</li>
            <li>CPR/First Aid</li>
            <li>HIVAIDS</li>
        </ul>
    </div>
    <hr>
    <div class="well well-lg">
        <p>
            <em>
                <h5>
                    Does Janis Lollel have all certifications needed for your job opening?
                    If not, <strong><a href="/courses">get</a> </strong> Janis Lollel online course credits to meet
                    your job opening requirements.
                </h5>
            </em>

        </p>
    </div>


    <hr>
    <h3>Availability</h3>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <ul class="list-group">
                <li class="list-group-item">Mon: 10:00 a.m. - 8:30 p.m.</li>
                <li class="list-group-item">Tue:  2:00 p.m. - 7:00 p.m.</li>
                <li class="list-group-item">Sat:  All day</li>
                <li class="list-group-item">Sun:  All day</li>
            </ul>
        </div>
    </div>

    <hr>

    <button type="submit" class="btn btn-success">Contact Caregiver</button>
    <hr>
    <i class="fa fa-download" aria-hidden="true"></i> Download Resume
    </div>