<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Choose Your Alert Notifications</h1>


    <form action="/notifications" method="post" id="checkout-form">
         <div class="row">
             <div class="col-xs-12">
                 <div class="form-group">
                     <label for="name">Phone Number: </label>
                     <input type="tel" id="tel" class="form-control" required name="tel">
                </div>


            <hr>

                <label class="checkbox-inline">
                    <input type="checkbox" name ="phone" class="form-control" id="inlineCheckbox1" value="phone"> Phone Call
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name ="email" class="form-control" id="inlineCheckbox2" value="email"> Email
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name ="text" class="form-control" id="inlineCheckbox3" value="text"> SMS/Text Message
                </label>
             </div>
         </div>
                <button type="submit" class="btn btn-success">Save</button>
    </form>


</div>
</div>