<h1>{{{user.username}}} Profile</h1>

<div class="list-group">
  <button type="button" class="list-group-item">Find Jobs</button>
  <button type="button" class="list-group-item">Purchase Courses</button>
  <button type="button" class="list-group-item">Keep Your Continuing Education Units Current</button>
  <button type="button" class="list-group-item">Porta ac consectetur ac</button>
  <button type="button" class="list-group-item">Vestibulum at eros</button>
</div>