<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h4>Post|Share an Event About Alzheimer's, Long Term Care</h4>
        Validation Errors for find caregivers form
        <form action="/organization/job" method="post">
            <div class="form-group">
                <label for="name">Presenter</label>
                <input type="text" id="name" name="presenter" class="form-control" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="title">Topic</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="Enter Event Topic">
            </div>

            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" id="location" name="location" class="form-control" placeholder="Enter Location of Event">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" class="form-control" rows = "15">Enter Event Description Here</textarea>
            </div>

            <!--include days and times-->

            <div class="form-group">
                <label for="attachment">Attach Flyer</label>
                <input type="file" id="attachment" name="attachment" class="form-control">
            </div>

            <input type="hidden" name="_csrf" id="_csrf" value="{{csrfToken}}" >

            <button type="submit" class="btn btn-primary">Post Event</button>
        </form>

        <p>
            The fact is most care is given and received by family members in their own homes.  For some of these family members
            they were caught off guard by a sudden deterioration of their loved ones health conditions and for others, they
            just want to better caregivers to their loved ones.  Either way, you can be helpful!
        </p>
        <p>
            Host an event and share your experience and knowledge on topics such as caregiving, support groups and resources for
            chronic conditions, law/legal issues, payers and medical/health insurance.  More importantly, you get to meet your folks
            in your community face to face.
        </p>
        <p>
            If you know of such an event or events that happens in your community and is being hosted by someone else, feel free to
            share it here.
        </p>
    </div>
</div>