<p>
    Besides what you do on a day to day basis, there is a lot of good you can do by sharing with your community information
    about resources and events.

    //share resources and events with the community

    //
</p>